Options +FollowSymLinks -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_URI} ^/(css|img)/.
  RewriteRule ^(.*)$ public/$1 [L]

  RewriteCond %{ENV:REDIRECT_STATUS} ^$
  RewriteCond %{REQUEST_URI} ^/public/index\.php(\?path=)?
  RewriteRule ^(.*)$ public/index.php [L,QSA]

  RewriteCond %{REQUEST_URI} !^/public/index\.php(\?path=)?
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ public/index.php [L,QSA]

  RewriteCond %{REQUEST_URI} !^/public/index\.php(\?path=)?
  RewriteCond %{REQUEST_URI} !^/public/(css|img)/.
  RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>
