.abc-index
  .abc-left
    .menu-box
      - $this->set('menu-replace', 'photo')
      - $this->_include('menu')
    .content-box
      - foreach ($this->get('content_items') as $item)
        .item-box
          .img-item
            -= $this->_img($item['img'])
          .info-item
            %ul
              %li.title= $item['title']
              - foreach (array('model' => 'Модель', 'place' => 'Місце', 'date' => 'Дата') as $index => $label)
                %li.info
                  -= $label.': '
                  -= $item[$index]
              %li.text= $item['text']
          .clear
  .abc-right
    - $this->_include('title')
    .right-content
      .gallery-box
        .spacegallery#gallery
          - foreach ($this->get('gallery_photos') as $photo)
            -= $this->_img($photo)
- foreach ($this->get('photo_javascripts') as $javascript)
  -= $this->_js($javascript)