.abc-index
  .abc-left
    .menu-box
      - $this->_include('menu')
    .content-box
      .left-sp.sp1
        .left-column.column
          - $this->_includeColumn(0)
      .left-sp.sp2
        .left-column.column
          - $this->_includeColumn(1)
      .clear
  .abc-right
    - $this->_include('title')
    .right-content
      .right-sp.sp1
        .right-column.column
          - $this->_includeColumn(2)
      .right-sp.sp2
        .right-column.column
          - $this->_includeColumn(3)
      .right-sp.sp3
        .right-column.column
          - $this->_includeColumn(4)
      .clear