$main_color: #3A3734;
$rigth_bg_color: #000000;
$title_color: #4F4A47;
$copyright_color: $title_color;

$main_width: 1;
$left_col_width: 0.46;
$right_col_width: $main_width - $left_col_width;
$very_large_outside: 10000px;
$title_text_height: 60px;
$footer_bottom_margin: 40px;

$all_font: arial, sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: $main_color;
  font-family: $all_font;
  font-size: 10pt;
}
.abc {
  width: $main_width*100%;
  margin: 0 auto;
}
.clear {
  height: 0;
  width: 0;
  float: 0;
  clear: both;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
