$main_color: #3A3734;
$rigth_bg_color: #000000;

$main_width: 100%;
$left_col_width: 46%;
$title_text_height: 80px;

body {
  margin: 0;
  padding: 0;
  background-color: $main_color;
}
.abc {
  width:$main_width;
  margin:0 auto;
}
.clear {
  height: 0;
  width: 0;
  float: 0;
  clear: both;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underlined;
}
