$menu_top: 30px;
$menu_box_height: $menu_top + $menu_height;

$content_up_margin: 100px;

$content_titles_color: #DDCAB9;
$content_title_size: 18px;
$content_title_font_size: 16pt;

$content_text_color: #FFFFFF;
$content_text_font_size: 9pt;

$title_top: $menu_top;
$title_box_height: $title_top + $title_text_height;
$space_after_title: 90px;

$min_width_menu: $menu_width / $left_col_width;

.abc-index {
  overflow: hidden;
  width: 100%;
}

.abc-left, .abc-right {
  float: left;
  margin-bottom: -$very_large_outside + $footer_bottom_margin;
  padding-bottom: $very_large_outside;
}

.abc-left {
  width: $left_col_width*100%;

  .menu-box {
    height: $menu_box_height;
  }
  .content-box {
    margin-top: $content_up_margin;
  }
}

.abc-right {
  background-color: $rigth_bg_color;
  width: ($main_width - $left_col_width)*100%;
  
  .copyright-box .box, .title-text-box h1.title {
    position: relative;
    left: 100%;
  }
  
  .title-text-box {
    height: $title_box_height;
    
    h1.title {
      margin: 0;
      color: $title_color;
      position: relative;
      top: $title_top;
      font-size: 30pt;
    }
  }
    
  .copyright-box {
    color: $copyright_color;
    font-size: 10pt;
  
    a, div {
      color: $copyright_color;
      white-space: nowrap;
    }
  }
}

@mixin center-block {
  position: relative;
  width: 50%;
  left: 50%;
}

.menu {
  position: relative;
  top: $menu_top;
  margin-left: -$menu_width / 2;
}