$square_icon_size: 8px;
$squares_width: 5 * $square_icon_size;

.squares-box {
  width: $squares_width;
  .ico {
    width: $square_icon_size;
    height: $square_icon_size;
    float:left;
  }
  .middle {
    margin: 0 $square_icon_size;
  }
  .news {
    background-color: $menu_news_color;
  }
  .media {
    background-color: $menu_media_color;
  }
  .links {
    background-color: $menu_links_color;
  }
  .photo {
    background-color: $menu_photo_color;
  }
  .contacts {
    background-color: $menu_contacts_color;
  }
}