@import 'all';
@import 'menu';

$menu_top: 30px;
$menu_box_height: $menu_top + $menu_height;

.abc-index {
  overflow: hidden;
  min-width: $menu_width / $left_col_width;
}
.abc-left, .abc-right {
  float: left;
  margin-bottom: -$very_large_outside;
  padding-bottom: $very_large_outside;
}

.abc-left {
  width: $left_col_width*100%;
  
  .menu-box {
    height: $menu_box_height;
    width: 50%;
    position: relative;
    left: 50%;
  }
}

.menu {
  position: relative;
  top: $menu_top;
  margin-left: -$menu_width / 2;
}

.abc-right {
  background-color: $rigth_bg_color;
  width: ($main_width - $left_col_width)*100%;
}