@import 'all';
@import 'menu';
@import 'square_icons';
@import 'layout';

$pic_box_up_margin: $space_after_title;

$content_width: $menu_width;
$content_height: 56px;

$pic_height: 440px;
$pic_width1: 200;
$pic_width2: 300;
$min_img_spaces: 10;

$title_text_width: ($pic_width1 + $pic_width2 + 2 * $min_img_spaces) * 1px;

$pic_center1: $pic_width1 * 100% / ($pic_width1 + $pic_width2) / 2;
$pic_margin_left1: -$pic_width1 * 1px / 2;

$content_v_spaces: 5px;
$content_left_side: $menu_item_w + $menu_mid_space;
$content_text_width: $menu_width - $content_left_side;

$min_width2: ($pic_width1 + $pic_width2 + 3 * $min_img_spaces) * 1px / $right_col_width;
$min_width3: $content_width / $left_col_width;

@mixin set-min-width($parameter) {
  @if ($min_width_menu > $min_width2) and ($min_width_menu > $min_width3) { #{$parameter}: $min_width_menu; }
  @else if ($min_width2 > $min_width3) { #{$parameter}: $min_width2; }
  @else { #{$parameter}: $min_width3; }
}

.abc-index {
  @include set-min-width('min-width'); 
}

.abc-left {
  .content {
    margin: 0-$square_icon_size 0 0 0-$content_width/2;
    width: $content_width;
  }
}

.content-box, .menu-box {
  @include center-block;
}

.news-item-box.news .category {
  color: $menu_news_color;
}
.news-item-box.media .category {
  color: $menu_media_color;
}
.news-item-box.photo .category {
  color: $menu_photo_color;
}
    
.news-item-box {
  width: $content_width;
  
  .icons {
    float: left;
    width: $menu_item_w;
    
    .squares-box { float: right; }
  }
  
  .category {
    float: left;
    margin-left: $menu_mid_space;
    width: $content_text_width;
    line-height: $square_icon_size;
    font-size: 8pt;
  }
  .date {
    width: $menu_item_w;
    text-align: right;
    float: left;
  }
  .title {
    margin-left: $content_left_side;
  }
  .date, .title {
    position: relative;
    top: $content_v_spaces;
    font-size: $content_title_font_size;
    line-height: $content_title_size;
    color: $content_titles_color;
  }
  
  .text {
    position: relative;
    top: 2 * $content_v_spaces;
    width: $content_text_width - $menu_item_w / 2;
    margin: 0 0 10px $content_left_side;
    color: $content_text_color;
    font-size: $content_text_font_size;
    text-align: justify;
    height: $content_height;
  }
}

.abc-right {
  .title-text-box, .copyright-box {
    margin: 0 ($pic_width1 + $pic_width2) * 1px 0 0;
  }
  
  .title-text-box .space, .pic-box .pic-box-inner, .copyright-box .space {
    position: relative;
    width: (100 / 3) * 1%;
  }
  
  h1.title { width: $title_text_width; }
  
  .pic-box {
    height: $pic_height;
    margin: $pic_box_up_margin ($pic_width1 + $pic_width2) * 1px 0 0;
    
    .pic-box-inner {
      height: $pic_height;
      float: left;
      left: (100 / 3) * 1%;
      .pic {
        background-color: $menu_photo_color;
        height: $pic_height;
        width: $pic_width1 * 1px;
        margin-left: 0;
        left: 100%;
      }
    }
    .pic-right {
      left: (100 / 3) * 1%;
      .pic {
        background-color: $menu_media_color;
        width: $pic_width2 * 1px;
        margin-left: $pic_width1 * 1px;
      }
    }
  }
}