@import 'all';
@import 'menu';

$menu_top: 30px;
$title_top: $menu_top;
$menu_box_height: $menu_top + $menu_height;
$title_box_height: $title_top + $title_text_height;

$pic_box_up_margin: 90px;
$content_up_margin: 100px;

$title_text_width: 460px;
$content_width: $menu_width;

$pic_height: 440px;
$pic_width1: 200;
$pic_width2: 300;

$content_icon_size: 8px;
$content_v_spaces: 5px;
$content_title_size: 18px;
$content_left_side: $menu_item_w + $menu_mid_space;
$content_text_width: $menu_width - $content_left_side;

$min_width1: $menu_width / $left_col_width;
$min_width2: $title_text_width / $right_col_width;
$min_width3: ($pic_width1 + $pic_width2 + 4 * 10) * 1px / $right_col_width;
$min_width4: $content_width / $left_col_width;

@mixin set-min-width($parameter) {
  @if ($min_width1 > $min_width2) and ($min_width1 > $min_width3) and ($min_width1 > $min_width4) { #{$parameter}: $min_width1; }
  @else if ($min_width2 > $min_width3) and ($min_width2 > $min_width4) { #{$parameter}: $min_width2; }
  @else if ($min_width3 > $min_width4) { #{$parameter}: $min_width3; }
  @else { #{$parameter}: $min_width4; }
}

.abc-index {
  overflow: hidden;
  width: 100%;
  @include set-min-width('min-width'); 
}
.abc-left, .abc-right {
  float: left;
  margin-bottom: -$very_large_outside;
  padding-bottom: $very_large_outside;
}

.content-box, .menu-box, .title-text-box, .pic-box-inner {
  position: relative;
  width: 50%;
  left: 50%;
  overflow: visible;
  padding-left: $very_large_outside;
  margin-left: -$very_large_outside;
}

.abc-left {
  width: $left_col_width*100%;
  
  .menu-box {
    height: $menu_box_height;
  }
  
  .content {
    margin: 0-$content_icon_size 0 $footer_bottom_margin 0-$content_width/2;
    width: $content_width;
  }
}

.content-box {
  margin-top: $content_up_margin;
}

.news-item-box.news .category {
  color: $menu_news_color;
}
.news-item-box.media .category {
  color: $menu_media_color;
}
.news-item-box.portfolio .category {
  color: $menu_portfolio_color;
}
    
.news-item-box {
  width: $content_width;
    
  .icons {
    float: left;
    height: $content_icon_size;
    width: $menu_item_w;
    
    .icon {
      float: right;
      width: $content_icon_size;
      height: $content_icon_size;
      margin-left: $content_icon_size;
    }
    .ico-news {
      background-color: $menu_news_color;
    }
    .ico-media {
      background-color: $menu_media_color;
    }
    .ico-portfolio {
      background-color: $menu_portfolio_color;
    }
    .ico-contacts {
      background-color: $menu_contacts_color;
    }
  }
  
  .category {
    float: left;
    margin-left: $menu_mid_space;
    width: $content_text_width;
    line-height: $content_icon_size;
    font-size: 8pt;
  }
  .date {
    width: $menu_item_w;
    text-align: right;
    margin-top: $content_v_spaces;
  }
  .title {
    margin-top: -$content_title_size;
    margin-left: $content_left_side;
  }
  .date, .title {
    font-size: 16pt;
    line-height: $content_title_size;
    color: $content_titles_color;
  }
  
  .text {
    width: $content_text_width - $menu_item_w / 2;
    margin: $content_v_spaces 0 10px $content_left_side;
    color: #FFFFFF;
    font-size: 9pt;
    text-align: justify;
  }
}

.menu {
  position: relative;
  top: $menu_top;
  margin-left: -$menu_width / 2;
}

.abc-right {
  background-color: $rigth_bg_color;
  width: ($main_width - $left_col_width)*100%;
  
  .title-text-box {
    height: $title_box_height;
    
    h1.title {
      margin: 0 0 0 0-$title_text_width/2;
      color: $title_color;
      position: relative;
      top: $title_top;
      font-size: 40pt;
      width: $title_text_width;
    }
  }
  
  .copyright-box {
    margin-right: 30px;
    text-align: right;
    color: $copyright_color;
    font-size: 13pt;
    height: $copyright_height;
    margin-top: $copyright_up_margin;
    a {
      color: $copyright_color;
    }
  }
  .pic-box {
    height: $pic_height;
    margin-top: $pic_box_up_margin;
    margin-bottom: $footer_bottom_margin;
    
    .pic-box-inner {
      height: $pic_height;
      width: $pic_width1 * 100% / ($pic_width1 + $pic_width2) / 2;
      left: $pic_width1 * 100% / ($pic_width1 + $pic_width2) / 2;
      float: left;
      .pic {
        background-color: $menu_portfolio_color;
        height: $pic_height;
        width: $pic_width1 * 1px;
        margin-left: -$pic_width1 * 1px / 2;
      }
    }
    .pic-right {
      left: ($pic_width1 / 2 + $pic_width2 / 2) * 100% / ($pic_width1 + $pic_width2);
      width: $pic_width2 * 50% / ($pic_width1 + $pic_width2);
      .pic {
        background-color: $menu_media_color;
        width: $pic_width2 * 1px;
        margin-left: -$pic_width2 * 1px / 2;
      }
    }
/*    .pic {
      width: $pic_width;
      height: $pic_height;
      margin-left: -$pic_width / 2;
    }*/
  }
}