@import 'all';
@import 'menu';
@import 'square_icons';
@import 'layout';

$min_column_spaces: 20px;

$links_left_column_width: 170px;
$links_left_sp1: 2;
$links_left_sp2: 1;
$links_left_sp3: 2;

$links_right_column_width: $links_left_column_width;
$links_right_sp1: 2;
$links_right_sp2: 1;
$links_right_sp3: 1;
$links_right_sp4: 2;
$links_right_total: $links_right_sp1 + $links_right_sp2 + $links_right_sp3 + $links_right_sp4;

$title_text_width: 3 * $links_right_column_width + ($links_right_sp2 + $links_right_sp3 + $links_right_sp4) * $min_column_spaces;

$min_width2: (2 * $links_left_column_width + ($links_left_sp1 + $links_left_sp2 + $links_left_sp3) * $min_column_spaces) / $left_col_width;
$min_width3: (3 * $links_right_column_width + $links_right_total * $min_column_spaces) / $right_col_width;

@mixin set-min-width($parameter) {
  @if ($min_width_menu > $min_width2) and ($min_width_menu > $min_width3) { #{$parameter}: $min_width_menu; }
  @else if ($min_width2 > $min_width3) { #{$parameter}: $min_width2; }
  @else { #{$parameter}: $min_width3; }
}

.abc-index {
  @include set-min-width('min-width'); 
}

  
.left-sp, .left-column, .right-sp, .right-column {
  position: relative;
  float: left;
}
  
.content-box {
  margin-right: 2 * $links_left_column_width;
  
  .sp1 { width: $links_left_sp1 * 100% / ($links_left_sp1 + $links_left_sp2 + $links_left_sp3); }
  .sp2 {
    left: $links_left_column_width;
    width: $links_left_sp2 * 100% / ($links_left_sp1 + $links_left_sp2 + $links_left_sp3);
  }
  .left-column {
    left: 100%;
    width: $links_left_column_width;
  }
}

.column {
  .space {
    width: 100%;
    height: 46px;
  }
  
  .title {
    color: $content_titles_color;
    font-size: $content_title_font_size;
    line-height: $content_title_size;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .text {
    color: $content_text_color;
    font-size: $content_text_font_size;
  }
}


.menu-box {
  @include center-block;
}

.abc-right {
  .title-text-box, .copyright-box {
    margin: 0  $links_right_column_width * 3 0 0;
  }
  .title-text-box h1.title, .pic-box-inner .pic, .copyright-box span {
    position: relative;
    left: $links_right_sp1 * 100% / $links_right_total;
  }
  
  h1.title { width: $title_text_width; }
}

.right-content {
  margin: $space_after_title 3 * $links_right_column_width 0 0;
  
  .sp1 { width: $links_right_sp1 * 100% / $links_right_total; }
  .sp2 {
    left: $links_right_column_width;
    width: $links_right_sp2 * 100% / $links_right_total;
  }
  .sp3 {
    left: 2 * $links_right_column_width;
    width: $links_right_sp3 * 100% / $links_right_total;
  }
  .right-column {
    left: 100%;
    width: $links_right_column_width;
  }
}