@import 'all';
@import 'menu';
@import 'square_icons';
@import 'layout';

$links_left_column_width: 170px;
$links_left_sp1: 2;
$links_left_sp2: 1;
$links_left_sp3: 2;

$links_right_column_width: $links_left_column_width;

$min_column_spaces: 20px;
$min_width2: (2 * $links_left_column_width + ($links_left_sp1 + $links_left_sp2 + $links_left_sp3) * $min_column_spaces) / $left_col_width;

@mixin set-min-width($parameter) {
  @if ($min_width_menu > $min_width2) { #{$parameter}: $min_width_menu; }
  @else { #{$parameter}: $min_width2; }
}

.abc-index {
  @include set-min-width('min-width'); 
}

.content-box {
  margin-right: 2 * $links_left_column_width;
  
  .left-sp, .left-column {
    position: relative;
    float: left;
  }
  
  .sp1 { width: $links_left_sp1 * 100% / ($links_left_sp1 + $links_left_sp2 + $links_left_sp3); }
  .sp2 {
    left: $links_left_column_width;
    width: $links_left_sp2 * 100% / ($links_left_sp1 + $links_left_sp2 + $links_left_sp3);
  }
  .left-column {
    left: 100%;
    width: $links_left_column_width;
  }
}

.column {
  .icons-box {
    @include center-block;
    .squares-box { margin-left: -$squares_width / 2; }
  }
  
  .space {
    width: 100%;
    height: 40px;
  }
  
  .title {
    color: $content_titles_color;
    font-size: $content_title_font_size;
    line-height: $content_title_size;
    text-align: center;
  }
  
  .text {
    margin-top: 10px;
    color: $content_text_color;
    font-size: $content_text_font_size;
  }
}


.menu-box {
  @include center-block;
}
