.menu
  .item.news
    - $this->set('menu_item_text', 'новини')
    - $this->_include('menu_item1')
  .item-mid
  .item.media
    - $this->set('menu_item_text', 'медіа')
    - $this->_include('menu_item2')
  .item-mid
  .item.links
    - $this->set('menu_item_text', 'лінки')
    - $this->_include('menu_item1')
  .item-mid
  .item.portfolio
    - $this->set('menu_item_text', 'портфоліо')
    - $this->_include('menu_item2')
  .item-mid
  .item.contacts
    - $this->set('menu_item_text', 'контакти')
    - $this->_include('menu_item1')
  .clear
