- $menu_item = $this->get('menu_one_item')
.menu-space
%a{href="<?php echo htmlspecialchars($menu_item[3])?>"}
  %span.menu-tail &nbsp;
  %span.menu-text &nbsp;
    %span.menu-text-inner
      -= $menu_item[0]
  %span.menu-bookmark &nbsp;
