- $this->setMenu()
.menu
  - foreach ($this->get('menu') as $menu_index => $menu_item)
    - if ($menu_index != 0)
      .item-mid
    - $this->set('menu_item_class', $menu_item[1]);
    .item.$menu_item_class
      - $this->set('menu_one_item', $menu_item)
      - $this->_include('menu_item'.($menu_item[2] ? '1' : '2'))
