.title-text-box
  .space
    %h1.title
      -= $this->_img('mixpix.png')
.copyright-box
  .space
    .box
      &copy; 
      %a{href="mailto:alya.mikhailova@gmail.com"}
        Alina Mikhailova
.copyright-box
  .space
    .box
      &copy; 
      %a{href="mailto:blackakula@gmail.com"}
        Sergey Akulinin