.title-text-box
  %h1.title= $this->get('h1_title')
.copyright-box
  %span
    &copy; 
    %a{href="mailto:alya.mikhailova@gmail.com"}
      Alina Mikhailova
.copyright-box
  %span
    &copy; 
    %a{href="mailto:blackakula@gmail.com"}
      Sergey Akulinin